{% extends 'core/base.html'%}

{% block title %}Contacto{% endblock title %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock background %}
    
    
{% block headers%}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock headers%}


{% block content %}


<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
        <br>
        <p><b>Teléfono:</b> +34 999 999 999</p>
    </div>
        <p><b>Teléfono:</b> +34 999 999 999</p>
    </div>
{% endblock content%}

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis inventore eveniet, ut, maiores autem ad cumque ab, molestiae corrupti deleniti provident quidem! Magnam laborum debitis nesciunt dolorum ut et neque, distinctio illo inventore? Rerum sed soluta at nobis iusto voluptatum!



